/*     body {
/*      height: 100%;
     background-image: url("BETTERcafescene.png");
     background-repeat: no-repeat;
  `   background-size: cover; */
 } */

    .container {
      text-align: justify;
      font-family: 'Lato', sans-serif;
    }

    .container p {
      font-family: 'Noto Serif', serif;
    }

    h1 {
         position: absolute;
         top: 5px;
         left: 20px;
         width: 100%;
      }

    h2 {
      position: absolute;
      top: 65px;
      left: 20px;
      width: 100%
    }

    h1 span, h2 span {
         color: black;
         font: bold 33px/55px Helvetica, Sans-Serif;
         letter-spacing: -1px;
         background: rgb(255, 255, 240); /* fallback color */
         background: rgba(255, 255, 240, 0.7);
         padding: 10px;
    }

    #appear {
      margin-top: 25px;
      font-size: 21px;
      animation: fadein 3s;
      -moz-animation: fadein 3s; /* Firefox */
      -webkit-animation: fadein 3s; /* Safari and Chrome */
      -o-animation: fadein 3s; /* Opera */
  }

      #desc {
      position: absolute;
      top: 140px;
      left: 60px;
      font-size: 20px;
      text-align: center;
      color: #000000;
    }
      @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
      @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }

      #cafe {
        position: absolute;
        right: 500px;
        top: 110px;
        height: 1000px;
        width: 557px;
        z-index: -1;
}

      #sam {
        position: absolute;
        left: 170px;
        top: 250px;

      }

      #cafetable {
        position: absolute;
        right: 280px;
        top: 480px;
      }

      #cafeman {
        position: absolute;
        right: 180px;
        top: 280px;
        height: 300px;
        width: 200px;
    }

      .talkbubble {
        position: absolute;
        width: 300px;
        height: 120px;
        left: 400px;
        top: 230px;
        
        padding: 10px;
        border-radius: 5px;
        border: solid #F7DC6F;
        background: #F7DC6F;
      }

      .talkbubble:before {
        content:"";
        position: absolute;
        right: 100%;
        top: 25px;
        width: 0;
        height: 0;

        border-top: 13px solid transparent;
        border-right: 26px solid #F7DC6F;
        border-bottom: 13px solid transparent;
      }

/*         body{
          background-color:#96DCF3;
        }
        h2{
          color: #132062;
        }
        h4{
          color: #132062;
        }
        p{
          color: #132062;
        }
        .game-bg {
          position: relative;
          top: 0;
          left: 0px;
        }
        .tower {
          position: absolute;
          top: 50px;
          left: 249px;
        }
        .bird {
          position: absolute;
          top: 30px;
          left: 90px;
        }
        .sun {
          position: absolute;
          top: -10px;
          right: 250px;
        }
        .squirrel {
          position: absolute;
          top:510px;
          right:280px;
        }
        .dog {
          position: absolute;
          top:475px;
          left:170px;
        }
        .sam {
          position:absolute;
          top: 450px;
          left: 500px;
          filter:contrast(130%);
        }
        .opa:hover {
          opacity: .9;
        }
        button {
              background-color: Transparent;
              background-repeat:no-repeat;
              border: none;
              cursor:pointer;
              overflow: hidden;
              outline: none;
            }
 */
